<div class="jumbotron">
    <h4 class="display-4">Feel the call to adventure? Need a sturdy ally in your travels?</h4>
    <p class="lead">Answer some questions and then find a stalwart friend and head for the nearest dragon hoard!</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/survey" role="button"><i class="fas fa-poll-h fa-pull-left"></i>Go to Survey</a>
</div>
