@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Merriweather|New+Rocker');

body {
    color: #2b0ec0;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 16px;
}

.card-header {
    font-weight: bold;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.card-header .badge {
    position: relative;
    top:-2px;
    margin-left: .5rem;
}

.custom-select,
.custom-select > option,
.input-group-text,
.list-group-item {
    font-size: smaller;
    font-weight: bold;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.jumbotron {
    margin-top: 1rem;
}

.jumbotron h4 {
    font-size: 32px;
    font-weight: bold;
}

.jumbotron > p {
    font-size: 18px;
}

.jumbotron a > i {
    position: relative;
    top: .3rem;
}

.navbar-brand {
    font-family: 'New Rocker', cursive;
    font-size: 30px;
    line-height: 36px;
    margin-left: 1rem;
}

.navbar-brand i {
    color: #b81717;
    font-size: 40px;
}

.navbar-brand span {
    margin-left: 1rem;
}

.content {
    margin-bottom: 3rem;
}

.footer {
    height: 2rem;
    color: white;
    font-size: small;
}

.footer .muted-text {
    font-size: x-small;
    margin-left: 1rem;
}

.footer a,
.footer a:visited {
    color: white;
}

#survey-card > .card-header {
    font-size: x-large;
}

