.card-header {
    font-weight: bold;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.custom-select,
.custom-select > option,
.input-group-text,
.list-group-item {
    font-size: smaller;
    font-weight: bold;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

#survey-card > .card-header {
    font-size: x-large;
}